@mixin radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}
@mixin btn-color($background, $border) {
  background-color: $background;
  border: 3px solid $border;
}
@mixin background-image($image)  {
  background-attachment: fixed;
  background-image: url($image);
  background-position: center;
  background-size: cover;
}
@mixin font($family, $size) {
  font-family: $family;
  font-size: $size;
}