@import "var.scss";
@import "mixin.scss";
@import url("http://fonts.googleapis.com/css?family=Oswald");

html {
  height: $full;
}
body {
  @extend html;
  margin: 0;
}
.container {
  margin: 0 auto;
  width: $container;
}
article {
  float: left;
  width: 50%;
}
header {
  background-color: $black;
  position: fixed;
  width: $full;
  .navigation {
    margin: 0;
    padding: 0;
    text-align: center;
    li {
      display: inline-block;
      text-decoration: none;
      a {
        @include font("arial", 20px);
        color: $white;
        line-height: 50px;
        padding: 0 15px;
        text-decoration: none;
        &:hover {
          color: yellow;
        }
      }
    }
  }
}
.block {
  height: calc(100% - 100px);
  padding-top: 100px;
  .btn-tree {
    background: url($image-tree) no-repeat center;
    button {
      @include font("Oswald", 30px);
      @include radius(10px);
      color: $white;
      display: block;
      font-weight: bold;
      margin: 397px auto 0;
      padding: 15px 30px;
    }
  }
}
.content {
  margin-top: 25px;
  h1 {
    @include font("Oswald", 45px);
    background: rgba(0,0,0,0.4);
    color: $white;
    padding: 10px;
  }
  p {
    @extend h1;
    @include font("arial", 20px);
  }
}
.one {
  @extend .block;
  @include background-image("images/img-1.jpg");
  .btn-tree {
    button {
      @include btn-color(#f90, #c60);
    }
  }
}
.two {
  @extend .block;
  @include background-image("images/img-2.jpg");
  .content {
    float: right;
  }
  .btn-tree {
    button {
      @include btn-color(#02c7e6, #0197b2);
    }
  }
}
.three {
  @extend .block;
  @include background-image("images/img-3.jpg");
  .btn-tree {
    button {
      @include btn-color(#8db737, #719d18);
    }
  }
}
.four {
  @extend .block;
  @include background-image("images/img-4.jpg");
  .content {
    float: right;
  }
  .btn-tree {
    button {
      @include btn-color(#cc0000, #a20303);
    }
  }
}