@import "var.scss";
@import "mixin.scss";

html {
  height: $full;
}
body {
  @extend html;
  margin: 0;
}
.container {
  width: $container;
  margin: 0 auto;
}
article {
  width: 50%;
  float: left;
}
header {
  background-color: $black;
  position: fixed;
  width: $full;
  .navigation {
    padding: 0;
    text-align: center;
    margin: 0;
    li {
      text-decoration: none;
      display: inline-block;
      a {
        color: $white;
        line-height: 50px;
        text-decoration: none;
        padding: 0 15px;
        font-size: 20px;
        &:hover {
          color: yellow;
        }
      }
    }
  }
}

.block {
  height: calc(100% - 100px);
  padding-top: 100px;
  .btn-tree {
    background: url($image-tree) no-repeat center;
    button {
      margin: 397px auto 0;
      display: block;
      font-size: 25px;
      padding: 15px;
      color: $white;
      font-weight: bold;
      @include radius(10px);
    }
  }
}

.content {
  margin-top: 25px;
  h1 {
    background: rgba(0,0,0,0.4);
    padding: 10px;
    font-size: 42px;
    color: $white;
  }
  p {
    @extend h1;
    font-size: 20px;
  }
}

.one {
  @include background-image("images/img-1.jpg");
  @extend .block;
  .btn-tree {
    button {
      @include btn-color(#f90, #c60);
    }
  }
}
.two {
  @include background-image("images/img-2.jpg");
  @extend .block;
  .content {
    float: right;
  }
  .btn-tree {
    button {
      @include btn-color(#02c7e6, #0197b2);
    }
  }
}
.three {
  @include background-image("images/img-3.jpg");
  @extend .block;
  .btn-tree {
    button {
      @include btn-color(#8db737, #719d18);
    }
  }
}
.four {
  @include background-image("images/img-4.jpg");
  @extend .block;
  .content {
    float: right;
  }
  .btn-tree {
    button {
      @include btn-color(#cc0000, #a20303);
    }
  }
}